# === KAFKA ===
KAFKA_VERSION=7.5.0
KAFKA_BROKER_PORT=9092
KAFKA_EXTERNAL_PORT=9094
KAFKA_UI_PORT=8080
ZOOKEEPER_PORT=2181

# === MLFLOW ===
# macOS'te 5000 portu AirPlay kullanıyor, 5001 kullanıyoruz
MLFLOW_PORT=5001

# === KAFKA TOPIC ===
KAFKA_TOPIC=online-retail-transactions

# === PRODUCER ===
PRODUCER_RATE_PER_SECOND=50